body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
  'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}


:root {
  --accent-color-hue: 236;
  --accent-color-saturation: 100%;
  --disabled-color: #cfcfcf;
  --error-color: #d40000;
}

.app {
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
}

.error {
  color: var(--error-color);
  font-weight: bold;
}

.pageHeading {
  margin: 0 0 0.5rem;
  font-size: 25px;
  font-weight: bold;
}

.noMarginText {
  margin: 0;
}

.currentValue {
  font-weight: bold;
}

.buttonsContainer {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.button {
  padding: 0.5em 0.75em;
  background-color: hsl(var(--accent-color-hue), var(--accent-color-saturation), 92%);
  font-size: 18px;
  border: none;
  transition: background-color 0.15s ease;
}

.button:hover {
  background-color: hsl(var(--accent-color-hue), var(--accent-color-saturation), 87%);
}

.button:active {
  background-color: hsl(var(--accent-color-hue), var(--accent-color-saturation), 82%);
}

.button:disabled {
  background-color: var(--disabled-color);
}

.listContainer {
  margin-top: 1.5rem;
}

.listHeading {
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 0.5rem;
}

.list {
  text-align: left;
  margin: 0 auto;
  max-width: 300px;
}

.listItem:not(:last-child) {
  margin-bottom: 0.5em;
}
