/* Контейнер формы */
.formContainer {
	background: #1e1e1e;
	padding: 40px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	min-width: 410px;
	width: 100%;
}

/* Заголовок формы */
form h2 {
	margin-bottom: 25px;
	font-size: 24px;
	color: #00ff00;
	text-align: center;
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
}

/* Группа для каждого поля */
.inputGroup {
	margin-bottom: 20px;
}

/* Метки для полей */
.inputGroup label {
	display: block;
	margin-bottom: 8px;
	font-size: 14px;
	color: #00ff00;
	font-family: 'Courier New', Courier, monospace;
}

/* Поля ввода */
.inputGroup input {
	width: 100%;
	padding: 10px;
	font-size: 16px;
	color: #00ff00;
	background: #1e1e1e;
	border: 1px solid #00ff00;
	border-radius: 5px;
	box-sizing: border-box;
	font-family: 'Courier New', Courier, monospace;
}

/* Эффект при фокусе на поле ввода */
.inputGroup input:focus {
	outline: none;
	border-color: #00ff00;
	background: #2b2b2b;
}

/* Ошибка */
.error {
	color: #ff0000;
	font-size: 14px;
	font-weight: bold;
	font-family: 'Courier New', Courier, monospace;
}

/* Стилизация кнопки */
button {
	width: 100%;
	padding: 10px;
	background-color: #1e1e1e;
	color: #00ff00;
	border: 1px solid #00ff00;
	border-radius: 5px;
	cursor: pointer;
	font-family: 'Courier New', Courier, monospace;
}

button:disabled {
	background-color: #3a3a3a;
	color: #555555;
	cursor: not-allowed;
	border-color: #555555;
}
